.button {
  .btn {
    padding: 10px;
    background-color: var(--primary-color);
    outline: none;
    border: 0px solid transparent;
    transition: all linear 200ms;
    cursor: pointer;
  }
  .btn:hover {
    box-shadow: 1px 5px 40px rgba(0, 0, 0, 0.1);
  }
  .rounded {
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flat {
    border-radius: 3px;
  }
}
