.full-screen-loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
  background-color: #fffffffa;

  img {
    transform: scale(0.8);
  }
  span {
    font-size: 12px;
    margin-top: 30px;
    font-weight: 200;
  }
}
