@media (max-width: 800px) {
    .Tooltip-section {
      display: none;
      background: red;
    }
    .con {
     display: block;
     padding: 20px;
    }
    .search-input{
      margin-left: 30px;
    }
  }