.landing-page {
  width: 100%;
  .background-layer {
    width: 100%;
    position: absolute;
    z-index: -5;
  }
  .background-layer > div {
    height: 900px;
    background-color: var(--grey0-colors);
    width: 100%;
  }
  .background-layer > div ~ div {
    height: unset;
    background-color: unset;
    position: relative;
    .circle-1 {
      width: 770px;
      height: 770px;
      background-color: var(--primary-color);
      opacity: 0.03;
      border-radius: 50%;
      margin-top: 50px;
      position: absolute;
      right: -90px;
    }
    .circle-2 {
      width: 770px;
      height: 770px;
      background-color: var(--primary-color);
      opacity: 0.03;
      border-radius: 50%;
      margin-top: 950px;
      position: absolute;
      left: -120px;
    }
  }
  .section-0,
  .section-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 30px;
    .illustration-text-wrapper {
      width: 45%;
      display: flex;
      position: relative;
      left: 80px;
      top: 20px;
      .quick-buy-section {
        margin-bottom: 50px;
        i.fas {
          font-size: 19px;
          margin-left: -3px;
          margin-right: 10px;
          color: var(--white-color);
        }
        span {
          font-family: "Montserrat";
          font-weight: 300;
          color: var(--white-color);
          font-size: 15px;
        }
      }
      .swiper-content {
        width: 400px;
        margin-top: 49px;
        margin-left: 5px;
        .swiper-container {
          padding-bottom: 50px;
          .swiper-pagination {
            text-align: unset;
            .swiper-pagination-bullet {
              transition: all linear 300ms;
            }
            .swiper-pagination-bullet-active {
              width: 26px;
              border-radius: 30px;
              transition: width linear 300ms;
            }
          }
        }
      }
    }
    .illustration-image-wrapper {
      width: 55%;
      img {
        width: 655px;
        height: 655px;
        margin-top: -100px;
        position: relative;
        right: -40px;
      }
    }
  }
  .section-1 {
    margin-top: 10px;
    .illustration-text-wrapper {
      width: 200px;
    }
    .illustration-image-wrapper {
      width: 55%;
      img {
        width: 600px;
        height: 600px;
        margin-top: -250px;
      }
    }
    .sign-up-link {
      font-family: "Montserrat";
      font-weight: bold;
      margin-top: 14px;
      a {
        color: var(--primary-color);
      }
    }
  }
  .slider-text {
    font-family: "Comfortaa";
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    opacity: 0.6;
  }
  .descriptions-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 120px;
    .description {
      width: 240px;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img ~ span {
        text-align: center;
        margin-top: 30px;
        font-family: "Comfortaa";
        font-size: 14px;
        font-weight: bold;
      }
      img ~ span ~ span {
        text-align: center;
        margin-top: 19px;
        font-family: "Comfortaa";
        font-size: 12px;
        font-weight: 100;
        line-height: 23px;
      }
    }
  }
  .services-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services-header ~ div {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .service-card {
      width: 270.78px;
      height: 490.68px;
      border-radius: 27.5px;
      background-color: var(--white1-color);
      box-shadow: 0px 13.7512px 183.35px -11.9177px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 28px;
      margin-right: 28px;

      .service-card-img {
        width: 60%;
        margin-top: 30px;
        img {
          width: 100%;
          height: 150px;
        }
      }
      .service-card-img ~ div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
      }
      .service-card-img + div span {
        font-size: 13px;
        font-weight: 200;
        text-align: center;
        width: 80%;
        line-height: 20px;
      }
    }
    .service-card > div:first-child {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 20px;
      span {
        font-family: "Montserrat";
        font-weight: 300;
        font-size: 16px;
        width: 60%;
        text-align: center;
        line-height: 22px;
        color: var(--text-color);
      }
    }
    .divider {
      width: 80%;
      height: 1px;
      background-color: var(--dark-color);
      opacity: 0.1;
    }
  }
  .retailer-pricing-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
  }

  .retailer-pricing-header + div,
  .end-user-pricing-header + div {
    padding-top: 50px;
    padding-bottom: 120px;
    span {
      a {
        font-weight: bold;
        color: var(--primary-color);
      }
      margin-left: 70px;
    }
    .retailer-prices-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 50px;
      flex-wrap: wrap;
      span {
        margin-left: unset;
      }
      .retailer-prices:hover {
        transform: scale(1.05);
        transition: all linear 250ms;
      }
      .retailer-prices {
        width: 268px;
        border-radius: 27.5px;
        background-color: var(--white1-color);
        box-shadow: 0px 13.7512px 183.35px -11.9177px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 28px;
        margin-right: 28px;
        position: relative;
        padding-bottom: 30px;
        transition: all linear 250ms;
        margin-bottom: 30px;

        .divider {
          width: 80%;
          height: 1px;
          background-color: var(--dark-color);
          opacity: 0.1;
        }
        .service-card-img {
          position: absolute;
          top: 75px;
          background-color: var(--white-color);
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
        }
        .service-plans {
          margin-top: 80px;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .service-plan {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 17px;
            span {
              font-size: 13px;
              font-weight: 400;
            }
          }
          .button-wrapper {
            margin-top: 30px;
          }
        }
      }
      .retailer-prices > div:first-child {
        margin-top: 30px;
        padding-bottom: 40px;
      }
      .retailer-prices > div:first-child span {
        margin-left: unset;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  .end-user-pricing-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 70px;
    margin-top: 20px;
  }
  .end-user-pricing-header + div {
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .our-partners-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .our-partners-header ~ div {
    width: 100%;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 30px;
      width: 50%;
      font-size: 14px;
      line-height: 25px;
      font-weight: 200;
    }
    .partners-wrapper {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 10px;
      img {
        width: 100px;
        margin-left: 90px;
        margin-right: 90px;
        margin-bottom: 100px;
        transition: all linear 300ms;
      }
      img:hover {
        transform: scale(1.2);
        transition: all cubic-bezier(0.9, 0.36, 0.21, 1.65) 300ms;
      }
    }
  }
  .ready-to-get-started {
    width: 100%;
    height: 150px;
    background-color: #f2f7fd;
    display: flex;
    flex-direction: row;
  }
  .ready-to-get-started > div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    .title {
      font-weight: bold;
      font-size: 16px;
    }
    .title ~ span {
      font-weight: 13px;
      position: relative;
      top: -10px;
      font-size: 13px;
    }
  }
  .ready-to-get-started > div ~ div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
  }
  .footer-wrapper {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .left-content {
      width: 40%;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      .footer-link {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Montserrat";
        font-weight: 300;
        a {
          text-decoration: none;
          color: var(--white-color);
          font-size: 12px;
        }
      }
      .footer-link:hover {
        font-weight: 700;
      }
    }
    .right-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      font-family: "Montserrat";
    }
    .right-content > div {
      margin-bottom: 17px;
      color: var(--white-color);
      font-size: 13px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .right-content > div > span:first-child {
      font-weight: 600;
      margin-bottom: 2px;
    }
  }
}
