.title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  span {
    font-family: "Comfortaa";
    font-size: 30px;
    font-weight: bold;
  }
  span ~ div {
    width: 30%;
    height: 4px;
    border-radius: 20px;
    background-color: var(--primary-color);
    margin-top: 17px;
    margin-left: 0px;
  }
  .underline-center {
    width: 100%;
  }
}
.title.right {
  align-items: flex-end;
}
.title.left {
  align-items: flex-start;
}

@media only screen and (max-width: 420px) {
  .title {
    span {
      font-size: 22px !important;
    }
    span ~ div {
      height: 2px !important;
    }
  }
}
