.sign-in {
  width: 100%;
  height: 100%;
  overflow: scroll;
  .input-fields-wrapper {
    width: 90%;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    .error-msg {
      color: red;
      opacity: 0.8;
      font-weight: 400;
      font-size: 13px;
      margin-bottom: 20px;
    }
    .forget-password-link {
      font-family: "Comfortaa";
      font-size: 13px;
      margin-top: 20px;
      color: var(--primary-color);
    }
  }
  .header-title-wrapper {
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 20px;

    .sign-up-link {
      text-decoration: none;
      color: var(--primary-color);
      font-size: 12px;
      font-family: "Comfortaa";
      margin-bottom: 30px;
      font-weight: 400;
      b {
        color: var(--secondary-color);
        font-weight: 800;
      }
    }
  }
}
