.airtime-screen-wrapper {
  width: 100%;
  padding: 10px;

  .t {
    display: flex;
    flex-direction: row;
  }
  .Tooltip-section {
    width: 100%;
    margin-top: 18px;
    margin-left: 50px;
  }
  .my-wallet-section {
    width: 98%;
  }
  .form-section {
    width: 100%;
    padding-left: 30px;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .input-section {
      min-width: 300px;
      width: 40%;
      margin-top: 40px;
    }
  }
}
