.modal {
  position: fixed;
  z-index: 100;
  background-color: var(--backlay-color);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.modal.translucent {
  background-color: transparent;
}
