.lightTheme {
  --primary-color: #2280fa;
  --secondary-color: #bb6bd9;
  --white-color: white;
  --white1-color: #fdfdff;
  --dark-color: #222;
  --text-color: #000;
  --grey0-colors: #f8f8f8;
  --red-color: #eb5757;
  --header-z-index: 5;
}

.darkTheme {
  --primary-color: white;
  --secondary-color: white;
  --white-color: white;
  --dark-color: white;
  --text-color: text;
}
