.lightTheme {
  --primary-color: white;
  --secondary-color: white;
  --white-color: white;
  --dark-color: white;
  --text-color: text;
}

.darkTheme {
  --primary-color: white;
  --secondary-color: white;
  --white-color: white;
  --dark-color: white;
  --text-color: text;
}
