@mixin z-indexes {
  --drawer-zindex: 20;
  --popover-zindex: 22;
}

.lightTheme {
  @include z-indexes();
  --primary-color: #2280fa;
  --secondary-color: #bb6bd9;
  --white-color: white;
  --white1-color: #fdfdff;
  --dark-color: #222;
  --text-color: #000;
  --grey0-colors: #f8f8f8;
  --red-color: #eb5757;
  --backlay-color: rgba(0, 0, 0, 0.5);
  --header-z-index: 5;
}

.darkTheme {
  @include z-indexes();
  --primary-color: white;
  --secondary-color: white;
  --white-color: white;
  --dark-color: white;
  --text-color: text;
}
